MathterBlathter/Unity/MathterBlathter/Assets/
!MathterBlathter/MathterBlathter/Unity/MathterBlathter/Assets/Scripts/
MathterBlathter/Unity/MathterBlathter/Temp/*

MathterBlathter/.DS_Store

MathterBlathter/MathterBlathter.userprefs

Audio/*

MathterBlathter/Unity/MathterBlathter/Library/*

